<div class="container">
    <div class="box">
        <div class="heroe-box" (click)="redirectToHeroeDetails(1)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
                <div class="heroe-number">
                    <p>1st</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box" (click)="redirectToHeroeDetails(1)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
                <div class="heroe-number">
                    <p>1st</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box" (click)="redirectToHeroeDetails(1)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
                <div class="heroe-number">
                    <p>1st</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box" (click)="redirectToHeroeDetails(1)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
                <div class="heroe-number">
                    <p>1st</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box" (click)="redirectToHeroeDetails(1)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
                <div class="heroe-number">
                    <p>1st</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box" (click)="redirectToHeroeDetails(1)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
                <div class="heroe-number">
                    <p>1st</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        
        
        
    </div>
</div>