<!-- <h1 class="center-content">Heroes Dashboard</h1>  -->
<!-- <img src="/src/assets/img/avengers.jpg" alt=""> -->
<!-- <section></section> -->
<!-- <div class="heroe-box">Iron Man</div>
<div class="heroe-box">Spiderman</div> -->
<div class="container">
    <div class="box">
        <div class="heroe-box">
            <div>
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box">
            <div>
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box">
            <div>
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box">
            <div>
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box">
            <div>
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        <div class="heroe-box">
            <div>
                <img class="heroe-avatar" src="../../../../assets/img/capitan-america.jpg" alt="Avatar">
            </div>
            <div class="heroe-info">
                <h3>Capitan America</h3>
                <p>Steve Rogers</p>
                <p>Estaura: 1.90mt</p>
            </div>   
        </div>
        
    </div>
</div>