<div class="container">
    <div class="box">
        <!-- <div  *ngFor="let heroe of heroes" class="heroe-box" (click)="redirectToHeroDetails(heroe._id)">
            <div class="heroe-avatar-box">
                <img class="heroe-avatar" [src]="heroe._picture" alt="Avatar">
                <div class="heroe-number">
                    <p>{{heroe._id | idFormat}}</p>
                </div>
            </div>
            <div class="heroe-info">
                <h3>{{heroe._nickname}}</h3>
                <p>{{heroe._name}}</p>
                <p>{{ 'heroes-dashboard.height' | translate }}: {{heroe._height | heightFormat}}</p>
                <p>{{ 'heroes-dashboard.power' | translate }}: {{heroe._power}}</p>
            </div>   
        </div>   -->
        <app-hero-card [hero]="hero" *ngFor="let hero of heroes"></app-hero-card>
    </div>
</div>