
<div class="container">
    <form class="form" [formGroup]="form" autocomplete="off" (ngSubmit)="editHero()">
        <div class="form-header">
            <h1>Heroe Details</h1>
        </div>
        <div class="form-group">
            <label>Nickname</label>
            <input type="text" formControlName="nickname">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name">
        </div>
        <div class="form-group">
            <label>Height</label>
            <input type="text" formControlName="height">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100">Edit</button>
        </div>         
    </form>
</div>

