/* Variables */
$hoverBgColor : #ff3b3b;
$hoverBgColor2: #ffffff;

.heroe-box{
    font-family: sans-serif; 
    font-size: 17px; 
    font-weight: 400; 
    background:#ffffff;
    min-width: 375px;
    margin: 15px 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 0px 0px rgba(128, 128, 128,0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    &:hover{
        background: linear-gradient(130deg, $hoverBgColor 0%, $hoverBgColor2 100%);
        box-shadow: 0px 0px 15px #000000;
    }
    &:active {
        transform: translateY(4px);
    }

    .heroe-avatar-box{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 15px 15px;
        position: relative;

        .heroe-avatar{
            border-radius: 50%;
            width: 100%;
            max-width: 150px;
            height: auto;
            display: flex;
            align-self: flex-end;
        }
    
        .heroe-number{
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background: rgba(250, 0, 0, 0.8);
            display: flex;
            align-self: flex-start;
            align-items: center;
            justify-content: center;
            position: absolute;
            font-weight: bold;
            color: #ffffff;
        }
    }

    .heroe-info{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 15px 15px;

        .heroe-nickname{
            color: #fa0000;
            font-weight: bold;
            font-size: 19px;
            margin: 5px 0;
        }

        .heroe-property{
            color: #808080;
        }

        h3{
            color: #fa0000;
            line-height: 0px;
        }
        
        p{
            color: #808080;
            line-height: 0px;  
        }
    }
}

@media only screen and (max-width: 420px) {
    .heroe-box{
        font-size: 13px;
        min-width: 310px;
        margin: 5px 5px;

        .heroe-avatar-box{
            margin: 15px 15px;
    
            .heroe-avatar{
                width: 100%;
                max-width: 100px;
            }
        
            .heroe-number{
                width: 40px;
                height: 40px;
            }
        }
    }
}