<div class="heroe-box" (click)="redirectToHeroDetails(hero._id)">
    <div class="heroe-avatar-box">
        <img class="heroe-avatar" [src]="hero._picture" alt="Avatar">
        <div class="heroe-number">{{hero._id | idFormat}}</div>
    </div>
    <div class="heroe-info">
        <div class="heroe-nickname">{{hero._nickname}}</div>
        <div class="heroe-property">{{hero._name}}</div>
        <div class="heroe-property">{{ 'heroes-dashboard.height' | translate }}: {{hero._height | heightFormat}}</div>
        <div class="heroe-property">{{ 'heroes-dashboard.power' | translate }}: {{hero._power}}</div>
    </div>   
</div>