body {
    background-image: url(../src/assets/img/marvel-big-screen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000;
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    h1 {
      font-size: 20px;
      color: #ffffff;
    }
  }

@media only screen and (max-width: 700px) {
    body {
        background-image: url(../src/assets/img/marvel.jpg);
    }
}
