
.no-results-message{
    font-family: sans-serif;
    color: rgba(#000000, 0.6);
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;

    .search-term{
        font-size: 26px;
        color:rgba(#000000, 0.7);
    }
}
